.bed__title
    font-family: "hnc-black"
    color: #566166
    font-size: 30px
    line-height: 20px

.bed__status
    color: #566166
    font-family: "hnc-roman"
    font-size: 20px
    line-height: 20px
