@import fonts
@import includes/header
@import includes/people

.bg-9d6
    background-color: #0199d6

.bg-priority
    background: #efc5c5

.fz-17
    font-size: 17px

.fz-22
    font-size: 22px

.bg-4f4
    background: #f4f4f4
